{% load static %}

<!DOCTYPE html>
<html lang=en>

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

    <!-- Cropperjs -->
    <link rel="stylesheet" href="{% static 'cropperjs/dist/cropper.min.css' %}">

    <!-- Markdown-it -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/12.0.6/markdown-it.min.js" integrity="sha512-7U8vY7c6UQpBNQOnBg3xKX502NAckvk70H1nWvh6W7izA489jEz+RCN3ntT1VMdXewaSKkOrEBegp/h6SPXrjw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/atom-one-dark.min.css" integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ==" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/languages/c.min.js" integrity="sha512-wHqmpr+4VxU/4t670EAcGTNeAcZ83HqqABH2hvF52BKpkUk6k2D5XCH/8fFaEGh9g8xC6vAqPz2ANDfebO328g==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/languages/cpp.min.js" integrity="sha512-GoqJT1JeyH9hP67tABTbUkSiu+NyTkBWagS4Us6HdUIJwDS4fE4idtu1eLmOl0hawQlHO74Ug6j48JG1zreWWA==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/languages/python.min.js" integrity="sha512-KwDXEFm7oWi8DYF/08uAQpRuffWqgJq7by0RCG7XMTlmcNfJ7OMYdBD3i7zPF7+60DvXosSZqwWMSoiaA+U90w==" crossorigin="anonymous"></script>
	<script>hljs.highlightAll();</script>
</head>

<body>

{% include 'snippets/base_css.html' %}
{% include 'snippets/base_js.html' %}
{% include 'snippets/header.html' %}

<div class="container" id="id_loading_spinner" style="display: none">
	<div class="d-flex flex-row mx-auto flex-grow-1 justify-content-center">
		<div class="spinner-border text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
</div>

<!-- Body -->
<style type="text/css">
	.main{
		min-height: 100vh;
		height: 100%;
	}
</style>
<div class="main">
	{% block content %}

	{% endblock content %}
</div>
<!-- End Body -->

{% include 'snippets/footer.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" />
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>

<script type="text/javascript">
	function displayLoadingSpinner(isDisplayed){
		var spinner = document.getElementById("id_loading_spinner")
		if(isDisplayed){
			spinner.style.display = "block"
		}
		else{
			spinner.style.display = "none"
		}
	}
	
</script>

</body>


</html>